* {box-sizing: border-box;}

.create-recipes-page{
  background-color: lightgray;
  padding: 1rem;
  text-align: center;
}

  .form-inline {  
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  .form-inline label {
    margin: 5px 10px 5px 0;
  }

  .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }

  .button-section {
    margin: 3%;
  }
  .button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
  }

  .button:hover {
    background-color: royalblue;
  }

  .remove {
    background-color: rgb(192, 53, 53);
 margin-top: 0.5rem;
  }
  .remove:hover {
    background-color: rgb(187, 43, 43);
  }

  .ingrediente-box{
 padding:  1rem;
 border: black solid 1px;
 box-shadow: 2px 2px black;
 margin: 1rem 0rem;
  }

  .name-input{
margin-bottom: 0.5rem;
  }

  .toppings{
    list-style-type: none;
    font-size: 1.4rem;
    padding-left: 30vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: black solid 1px;
    box-shadow: 2px 2px black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .toppings label{
    padding-left: 0.5rem;
  }

  .submit{
    margin-top: 1rem;
    background-color: green;
  }

  input::file-selector-button{
    padding: 0.7rem;
    background-color: #425F57;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    margin-left: 5vw;
  }