@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Russo+One&display=swap');

.animation-header{
   
   height: 95vh;
    width: 88vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.schluckreflex{
    height: 15vh;
    font-weight: 200;
    display: flex;
    justify-content:center;
    color: black;
    /* font-family: 'Russo One', sans-serif; */

}

.headline{
    text-align: center;
    font-weight: 300;
    font-size: 1.4rem;
    color: black;
    margin-top: 2vh;
}

.rezepte-button{
text-align: center;
margin-top: 55vh;
width: 60vw;
height: 8vh;
font-size: 1.4rem;
color: white !important;
background-color:  #383838 !important;
font-weight: 300;
border-radius: 0 !important;
box-shadow: 4px 4px  #425F57;
}

.section-description{
    padding: 3rem 0rem;
    background-color: #425F57;
    height: 100vh !important;
}

.homepage-description{
    font-size: 1.4rem;
    font-weight: 200;
    padding: 5rem 1rem 1rem 1rem;
    text-align: justify;
    color: white;
}

.homepage-contact{
    color: black !important;
}

.über-uns-header{
    color: white;
    font-size: 3rem;
    font-weight: 200;
    text-align: center;
}

.kontakt-header{
    color: black;
    font-size: 3rem;
    font-weight: 200;
    text-align: center;
}

.button-überuns{
    margin-top: 3rem;
    width: 60vw;
    height: 7vh;
    background-color: #E4E2EB  !important;
    color: black !important;
    font-weight: 300;
    font-size: 1.5rem;
    border-radius: 0 !important;
box-shadow: 4px 4px #383838;
}

.contact-homepage{
    padding: 2rem 0.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh !important;
    color: black !important;
    margin-bottom: 30vh;
}

.button-contact{
    width: 60vw;
    height: 7vh;
    color: white !important;
    background-color: #425F57 !important;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 300;
    border-radius: 0 !important;
box-shadow: 4px 4px #383838;
}

.align-center{
    text-align: center;
}

.to-top{
    width: 100vw;
    height: 6vh;
    background-color: #425F57;
    text-align: center;
    
}

.to-top img{
    height: 5vh;
    padding-top: 1vh;
}

.chilli{
    height: 10vh;
   margin: 4vh 0vw 0vh 0vw;
}

@media only screen and (max-width: 767px){

    .schluck {
        padding-top: 0.5vh;
        margin-left: auto;
        font-size: 4rem ;
        }

      
    .reflex {
        padding-top: 0.5vh;
        margin-right: auto;
        font-size: 4rem ;

        }

        .über-uns-header{
            margin: -2rem 0rem !important;
            font-size: 4rem;
        }

        .button-überuns{
            margin-top: 2vh;
        }

        .chilli{
            height: 0vh;
            margin: 0;
        }

        .animation-header{
            width: 100vw;
           }

     
 
      
}

@media screen and (min-width: 768px) {

    .homepage-description {
        padding: 0rem 8rem !important;
        /* margin: 0rem 12rem !important; */
    }
    .reflex {
        font-size: 6rem ;
        }
    .schluck {
        font-size: 6rem ;
        }
    .headline{
        margin-top: 6vh;
    }
    
    .rezepte-button{
        margin-top: 45vh;
    }

    .kontakt-header  {
        margin: 2rem 0rem !important;
        font-size: 4rem;
    }

    .über-uns-header{
        margin: 2rem 0rem !important;
        font-size: 4rem;
    }

    .contact-homepage{
        height: 100vh !important;
    }

    .section-description{
        height: 100vh !important;
    }
}




@media screen and (min-width: 1200px) {
   .animation-header{
    width: 88vw;
   }

   .to-top{
    width: 88vw;
   }
  }