.container{
    background-color: #D1D0CD;
    min-height: 100vh;
}

.container h1{
    padding: 0rem 1rem;
}

.section-ingredientes{
    padding: 1rem 1.5rem!important;
    margin-top: 0;
}

.ingrediente-line{
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    margin: 0rem 1rem 0rem 0rem;
}

.ingrediente-details{
    display: flex;
}

.zutaten{
    font-weight: 200;
}

.hr{
    padding: 0;
    margin: 0.5rem;
}

.ingrediente-line-left{
    margin-left: 3vw;
}

.box{
    box-shadow: 4px 4px #383838;
    border: solid black 1px;
    border-radius: 0 !important;
}

.section{
    padding: 0rem ;
    font-weight: 400;
}

.section-step{
    margin: 0rem 1rem;
    padding: 2rem 1rem ;
    border-bottom: solid black 1px;
    text-align: justify;
}

.navbar-burger{
    color: white !important;
}

.recipe-image{
    position: relative;
    height: 40vh;
    width: 90vw;
    background-repeat: no-repeat;
    object-fit: cover;
    overflow: hidden;
    margin: 0.5rem 0rem 1rem 0rem;  
}

.minor-infos{
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    font-size: 1.1rem;
    margin: 0vh 8vw;
}



