@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";



nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-weight: 500;
  border-bottom: black solid 1px;
}

.navbar {
  height: 3.5rem !important;
  min-height: unset !important;
  color: white !important;
  background-color: #425F57;
}

.dropped{
  /* width: auto !important; */
  text-align: center;
  align-items: space-around;
  font-size: 1.2rem;
  font-weight: 300;
}


.navbar-rezepte{
  font-size: 1.2rem;
  color: white;
  font-weight: 300;
}

.navbar-rezepte:hover{
  font-size: 1.2rem;
  color: white;
  font-weight: 300;
}

.is-active .dropped{
  width: 100vw;
}

.is-active .dropped-buttons{
  display: flex !important;
  justify-content: space-evenly;
  padding-top: 0.6rem;
  border-top: solid black 1px;
}


.navLink {
 color: white !important;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
  font-size: 1.3rem;
  padding: 0rem
}

/* .navLink + .navLink {
  padding: 1em;
} */

.navLink:hover {
  color: black;
}

.nav-logoutbtn {
  font-family: inherit;
  font-weight: inherit;
  padding: 0.5em 1em;
  margin-left: 1em;
  background-color: #5595ff;
  box-shadow: 0 0 5px 0 aliceblue;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: #e3f2ff;
  transition: all 0.2s ease-in-out;
  position: sticky;
  top: 0;
}

.nav-logoutbtn:hover {
  transform: scale(1.05);
  background-color: #d13e3e;
}

.navbar-menu{
  align-content: center !important;
}

 .navbar-item:hover{
  color: white !important;
}

.button-newrecipe{
  background-color: #425F57 !important;
}