
/* body {
  margin: 0 !important;
  padding: 0 !important;
} */

body{
  background-color: #D1D0CD;
}

@media screen and (min-width: 768px) {
  body {
    margin: 0rem 0rem !important;
  }
}



@media screen and (min-width: 1200px) {
  body {
    margin: 0vh 6vw !important;
  }
}